<h2>Fruits ({{fruits.length}})</h2>

<ul>
	<li ng-repeat="fruit in fruits"><a href="#/edit/{{fruit}}">{{fruit}}</a></li>
</ul>

<p><a href="#/new">New</a></p>
<p><a href="#/whatever">whatever</a></p>
